<table>
  <tr>
    <th>Deck Name</th>
    <th>Correct on first try</th>
    <th>Total guesses</th>
  </tr>
  <tr>
    <td> <%= @deck.name %> </td>
    <td> <%= @round.first_try_count %> </td>
    <td> <%= @round.count_total_guesses %> </td>
  </tr>
</table>
